/* Initial screen styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    overflow: hidden; /* Hide horizontal overflow */
    background-color: #ffffff;
}

.welcome {
    background-color: #ffffff; /* Egg yolk color */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.welcome-content {
    text-align: center;
    color: #fff;
}

.welcome h1 {
    font-size: 24px;
}

.welcome p {
    font-size: 16px;
    color: #ec8669;
}

#continue-button span {
    font-family: 'Roboto';
    font-size: 16px;
    margin-right: 10px; /* Adjust the margin as needed to control spacing between text and icon */
}
#continue-button {
    background-color: #ec8669;
    color: #000;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    bottom: 10vh; /* 5% of the viewport height */
    right: 0vw; /* 5% of the viewport width */
    z-index: 1; /* Ensure it's above the arrow */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically align content in the center */
    opacity: 0; /* Initially set the opacity to 0 */
    transition: opacity 1s ease-in-out; /* Apply a smooth opacity transition */
}

/* Apply blend-in effect when the .blend-in class is added */
#continue-button.blend-in {
    opacity: 1; /* Set the opacity to 1 to reveal the button */
}

.dinoperson {
    width: 100%; /* Adjust the outer circle size as a percentage of the viewport width */
    height: 7%; /* Adjust the outer circle size as a percentage of the viewport width */
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: #4f646f;
}


.deadlines {
    bottom: 65%;
    position: absolute;
    color: #fff;
}

.me {
    bottom: 60%;
    position: absolute;
    color: #fff;
}

.person {
    position: absolute;
    bottom: -10%;
    left: 0%;
    width: 30;
    height: 30;

    color: #000;
    z-index: 1000001;
}

.trex {
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 150px;
    height: 75px;

    transition: transform 0.7s ease;
    z-index: 1000001;
}

/* Hide the button on slide-up */
.dinoperson.slide-up {
    animation: slide-up 1.5s ease-in-out forwards; /* Apply a sliding animation */
}

.welcome.slide-up {
    animation: slide-up-window 1s ease-in-out forwards; /* Apply a sliding animation */
}

@keyframes slide-up-window {
    0% {
        transform: translateY(0%); /* Start with the content hidden below */
    }
    100% {
        transform: translateY(-100%); /* Slide the content up to its original position */
    }
}
@keyframes slide-up {
    0% {
    }
    100% {
        transform: scale(30) translateY(-40%);
    }
}