body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    background-color: #4f646f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.joke {
    position: fixed;
    top: 2vw;
    left: 2vw;
    height: 3vw;
    font-size: medium;
    z-index: 999; /* Ensure it's above other content */
    color: whitesmoke;
}

.circle-layout {
    position: relative;
    opacity: 0; /* Initially set the opacity to 0 */
    transition: opacity 1s ease-in-out; /* Apply a smooth opacity transition */
}

.blend-in {
    opacity: 1; /* Set the opacity to 1 to reveal the button */
}

.outer-circle {
    border: 5px solid #fff;
    border-radius: 50%;
    width: 36vw; /* Adjust the outer circle size as a percentage of the viewport width */
    height: 36vw; /* Adjust the outer circle size as a percentage of the viewport width */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-circles {
    display: flex;
    flex-wrap: wrap;
    width: 26.5vw; /* Adjust the maximum width of the inner circles as needed */
    height: 26.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
}

.circle {
    --radius: 20vw; /* Adjust the inner circle radius as a percentage of the outer circle's width */
    --angle: 0deg; /* Set the initial angle for each circle */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%; /* Adjust the inner circle size as a percentage of the outer circle's width */
    padding-top: 30%; /* Maintain a square shape for each inner circle */
    border-radius: 50%;
    background-color: white;
    color: white;
    text-decoration: none;
    margin: 10%; /* Adjust the margin between inner circles as needed */
    transition: transform 0.7s ease-in-out;
    position: absolute;
    top: calc(50% - var(--radius));
    left: calc(50% - var(--radius));
    transform-origin: center center;
    --hover-radius: 13vw;
    --after-color: rgb(0,0,0);
    --after-opacity: 0;
    --transform: ;
    transform: var(--transform);
}

.circle:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.5) rotate(var(--angle)) translate(var(--hover-radius)) rotate(calc(-1 * var(--angle))); /* Scale up on hover */
}

/* Adjust the angle for each inner circle*/
.circle:nth-child(1) { --angle: -0deg;  background-color: #ec8669;}
.circle:nth-child(2) { --angle: -72deg;  background-color: #fdfd96;}
.circle:nth-child(3) { --angle: -144deg; background-color: #6A7FDB;}
.circle:nth-child(4) { --angle: -216deg; background-color: #ec8669;}
.circle:nth-child(5) { --angle: -288deg; background-color: #fdfd96;}


.circle::after {
    content: attr(data-text); /* Use the 'data-text' attribute for custom text */
    font-family: 'Roboto';
    font-size: 1vw; /* Adjust the font size as needed */
    text-align: center;
    line-height: 1.2;
    position: absolute;
    top: 50%; /* Center vertically within the inner circle */
    left: 50%; /* Center horizontally within the inner circle */
    transform: translate(-50%, -50%);
    z-index: 1; /* Place text above the circle background */
    color: var(--after-color);
    opacity: var(--after-opacity);
    transition: transform 0.3s ease-in-out;
}

/* Example for individual text for each circle */
.circle:nth-child(1)::after { content: "Background"; }
.circle:nth-child(2)::after { content: "Work Experience"; }
.circle:nth-child(3)::after { content: "Extracurriculars"; }
.circle:nth-child(4)::after { content: "Projects"; }
.circle:nth-child(5)::after { content: "Achievements"; }

/* CSS for the active state of inner circles */
.circle.active {
    width: 30%; /* Adjust the inner circle size as a percentage of the outer circle's width */
    padding-top: 30%; /* Maintain a square shape for each inner circle */
    opacity: 1; /* Set opacity to 1 for visibility */
    transition: max-width 5.5s ease-in-out, max-height 5.5s ease-in-out, opacity 5.5s ease-in-out; /* Adjust the duration as needed */
}


.logo-container {
    position: fixed;
    top: 2vw;
    right: 2vw;
    z-index: 999; /* Ensure it's above other content */
}

/* Logo styles */
.logo-container a {
    display: block; /* Make the entire area clickable */
    margin-bottom: 10px; /* Adjust as needed for spacing between logos */
}

.logo-container img {
    width: 40px; /* Adjust the logo size as needed */
    height: auto; /* Maintain aspect ratio */
}

