/* Initial screen styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Hide horizontal overflow */
}

.welcome {
    background-color: #FFCC00; /* Egg yolk color */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.welcome-content {
    text-align: center;
    color: #fff;
}

.welcome h1 {
    font-size: 28px;
}

.welcome p {
    font-size: 16px;
}

#continue-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1; /* Ensure it's above the arrow */
}

/* Arrow icon */
#arrow-icon {
    position: absolute;
    bottom: 10px;
    right: 40px;
    font-size: 24px;
    transform: rotate(45deg); /* Rotate the square to make it an arrow */
    color: #fff;
    z-index: 0; /* Place it behind the button */
}
