/* Initial screen styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.welcome {
    background-color: #FFCC00; /* Egg yolk color */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.welcome-content {
    text-align: center;
    color: #fff;
}

.welcome h1 {
    font-size: 28px;
}

.welcome p {
    font-size: 16px;
}

#continue-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: none; /* Hide initially */
}
