body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    background-color: #4f646f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.joke {
    position: fixed;
    top: 2vw;
    left: 2vw;
    height: 3vw;
    font-size: 1.3vw;
    z-index: 999; /* Ensure it's above other content */
    color: whitesmoke;
}

.circle-layout {
    position: relative;
    opacity: 0; /* Initially set the opacity to 0 */
    transition: opacity 1s ease-in-out; /* Apply a smooth opacity transition */
}

.blend-in {
    opacity: 1; /* Set the opacity to 1 to reveal the button */
}

.outer-circle {
    border: 5px solid whitesmoke;
    border-radius: 50%;
    width: 36vw; /* Adjust the outer circle size as a percentage of the viewport width */
    height: 36vw; /* Adjust the outer circle size as a percentage of the viewport width */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-circles {
    display: flex;
    flex-wrap: wrap;
    width: 24vw; /* Adjust the maximum width of the inner circles as needed */
    height: 24vw;
    position: absolute;
    top: 50%;
    left: 50%;
}

.circle {
    --radius: 19vw; /* Adjust the inner circle radius as a percentage of the outer circle's width */
    --angle: 0deg; /* Set the initial angle for each circle */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%; /* Adjust the inner circle size as a percentage of the outer circle's width */
    padding-top: 40%; /* Maintain a square shape for each inner circle */
    border-radius: 50%;
    background-color: whitesmoke;
    color: whitesmoke;
    text-decoration: none;
    margin: 10%; /* Adjust the margin between inner circles as needed */
    transition: transform 0.7s ease-in-out;
    position: absolute;
    top: calc(50% - var(--radius));
    left: calc(50% - var(--radius));
    transform-origin: center center;
    --hover-radius: 12vw;
    --after-color: #000;
    --after-opacity: 0;
    --transform: ;
    transform: var(--transform);
}

.circle:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.5) rotate(var(--angle)) translate(var(--hover-radius)) rotate(calc(-1 * var(--angle))); /* Scale up on hover */
}

/* Adjust the angle for each inner circle*/
.circle:nth-child(1) { --angle: -0deg;  background-color: #ec8669;}
.circle:nth-child(2) { --angle: -72deg;  background-color: #F4C94F;}
.circle:nth-child(3) { --angle: -144deg; background-color: #6A7FDB;}
.circle:nth-child(4) { --angle: -216deg; background-color: #ec8669;}
.circle:nth-child(5) { --angle: -288deg; background-color: #F4C94F;}


.circle::after {
    content: attr(data-text); /* Use the 'data-text' attribute for custom text */
    font-family: 'Roboto';
    font-size: 1.3vw; /* Adjust the font size as needed */
    text-align: center;
    line-height: 1.2;
    position: absolute;
    top: 50%; /* Center vertically within the inner circle */
    left: 50%; /* Center horizontally within the inner circle */
    transform: translate(-50%, -50%);
    z-index: 1; /* Place text above the circle background */
    color: var(--after-color);
    opacity: var(--after-opacity);
    transition: transform 0.3s ease-in-out;
}

/* Example for individual text for each circle */
.circle:nth-child(1)::after { content: "Background"; }
.circle:nth-child(2)::after { content: "Work Experience"; }
.circle:nth-child(3)::after { content: "Extracurriculars"; }
.circle:nth-child(4)::after { content: "Projects"; }
.circle:nth-child(5)::after { content: "Achievements"; }

/* CSS for the active state of inner circles */
.circle.active {
    width: 30%; /* Adjust the inner circle size as a percentage of the outer circle's width */
    padding-top: 30%; /* Maintain a square shape for each inner circle */
    opacity: 1; /* Set opacity to 1 for visibility */
    transition: max-width 5.5s ease-in-out, max-height 5.5s ease-in-out, opacity 5.5s ease-in-out; /* Adjust the duration as needed */
}


.logo-container {
    position: fixed;
    top: 2vw;
    right: 2vw; /* Adjust the right property to align horizontally */
    z-index: 999;
    height: min-content;
    width: min-content;
}

/* Logo styles */
.logo-container a {
    display: block;
    margin-bottom: 1vw;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logo-container img {
    width: 2.8vw;
    height: 2.8vw;
}

.bar {
    border-radius: 1vw;
    position: relative; /* Change to relative positioning */
    width: 3.2vw;
    height: 0.4vh;
    margin-top: 0.4vw;
    background-color: #f4c94f;
    transition: 0.5s;
}

.hamburger__bar1,
.hamburger__bar2,
.hamburger__bar3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hamburger__bar1 {
    transform: translate(-50%, -50%) translateY(-0.8vw);
    position: absolute; /* Change to absolute positioning */
}

.hamburger__bar3 {
    transform: translate(-50%, -50%) translateY(0.8vw);
    position: absolute; /* Change to absolute positioning */
}


.click .hamburger__bar1 {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.click .hamburger__bar2{
    opacity: 0;
    
}
.click .hamburger__bar3{
    transform: translate(-50%, -50%) rotate(45deg);
}

.openDownloadWindowDiv{
    position: absolute;
    display: block;
    opacity: 0;
    margin-top: 2vw;
    transition: opacity 0.5s ease-in-out;
}

.download_button_1 div,
.download_button_2 div {
    display: flex;
    align-items: center; /* Vertically center align text and image */
}
.download_button_2{
    transform: translateY(2.8vw);
}

.download-text{
    color:whitesmoke
}

.logo-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Three columns for icons and text */
    grid-gap: 10px; /* Adjust the gap between grid items as needed */
    align-items: center; /* Vertically center-align grid items */
}

/* Style for individual grid items */
.github,
.linkedin,
.openDownloadWindowDiv,
.download_button_1,
.download_button_2{
    text-align: center; /* Center-align text */
    position: relative; /* Enable relative positioning */
}
.header__hamburger {
    position: relative; /* Enable relative positioning */
    margin-bottom: 2vw;
    margin-top: 1vw; /* Adjust as needed for spacing between logos */
    cursor: pointer;
    display: block;
}

.openDownloadWindowDiv.click {
    opacity: 1; /* Initially set the opacity to 0 */
    transition: opacity 0.5s ease-in-out; /* Apply a smooth opacity transition */
}

/* Style for icons (images) */
.github img,
.linkedin img,
.download_button_1 img,
.download_button_2 img {
    width: 3.8vw; /* Adjust the icon size as needed */
    height: 3.8vw; /* Maintain aspect ratio */
    display: block; /* Ensure images don't affect the text layout */
    margin: 0 auto; /* Center-align images horizontally */
}

/* Style for text */
.github p,
.linkedin p,
.download_button_1 p,
.download_button_2 p {
    color: whitesmoke;
    margin: 0; /* Remove default margin for paragraphs */
}


